/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* background effect */
#containers.program_detail {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 1;}

/* main */
main {overflow: hidden;}
header {position: absolute; top: 0; left: 0; width: 100%; z-index: 3;}

section {min-height: 1000px; z-index: 2; position: relative; opacity: .7;}
.section01 {background-color: #30267E;}
.section02 {background-color: #fff;}
.section03 {background-color: #F3F7FA;}
.section04 {background-color: #fff;}
.section05 {background-color: #000;}

section .inner {max-width: 1200px; width: 90%; margin:0 auto; position: relative;}